@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-bg-for-main: hsl(0, 0%, 100%);

  --html-bg-color: hsl(30, 54%, 90%);
  --underline-color: hsl(30, 18%, 87%);
  --text-color: hsl(30, 10%, 34%);
  --title-color-for-h1: hsl(24, 5%, 18%);

  --title-color-for-section: hsl(14, 45%, 36%);

  --title-color-for-duration: hsl(332, 51%, 32%);
  --duration-bg-color: hsl(330, 100%, 98%);
}

body {
  min-height: 100vh;
  font-size: 1rem;
  background: var(--html-bg-color);
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

p,
ul,
ol,
table,
footer {
  font-family: "Outfit", sans-serif;
  color: var(--text-color);
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1.5em;
}

li {
  padding-left: 1em;
}

main {
  width: min(44em, 100%);
  padding: 2.5em;
  margin: 7em auto;
  border-radius: 1.5em;
  background: var(--white-bg-for-main);
}

header {
  width: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  border-radius: 0.7em;
  object-fit: cover;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding: 3em 0;
  border-bottom: 1px solid var(--underline-color);
}

section:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

h1 {
  font-size: clamp(2rem, 5vw, 2.5rem);
  line-height: 1;
  color: var(--title-color-for-h1);
}

.schedule {
  padding: 1.3em;
  border-radius: 1rem;
  background: var(--duration-bg-color);
}

.schedule p.schedule-title {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  color: var(--title-color-for-duration);
  margin-bottom: 1em;
}

.schedule li::marker {
  color: var(--title-color-for-duration);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 2rem);
  color: var(--title-color-for-section);
}

.ingredients ul li::marker,
.instructions ul li::marker {
  color: var(--title-color-for-section);
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid var(--underline-color);
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 1rem;
}

td:last-child {
  font-weight: 700;
  color: var(--title-color-for-section);
}

footer {
  font-size: clamp(0.8rem, 5vw, 1rem);
}

footer a {
  text-decoration: none;
  color: var(--text-color);
}

@media (prefers-reduced-motion: reduce) {
  footer a {
    transition: color 0.3s ease;
  }
}

footer a:hover {
  color: var(--title-color-for-section);
}

@media (max-width: 24em/*375px*/) {
  main {
    width: 100vw;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  header img {
    border-radius: 0;
  }

  section {
    padding-left: 1.3em;
    padding-right: 1.3em;
  }

  section:last-child {
    padding-bottom: 3em;
  }

  footer {
    text-align: center;
  }
}
